* {
    font-family: verdana;
    
}

.foto{
    margin-right: 1%;
   
}

h1{
    color: teal;
}

.negrita{
    font-weight: 700;
}

body > div {
    display: inline-block;
}

.profile {
    display: flex;
    
}